# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/


1 2 3
4 5 6
7 8 9
Row Based matrix:
read the first line
break up the line into array
add the array to a new linked list
row counter goes up


